[submodule "atmos_cubed_sphere"]
  path = atmos_cubed_sphere
  url = git@github.com:jianheACM/GFDL_atmos_cubed_sphere.git
  branch = catchem
[submodule "ccpp/framework"]
  path = ccpp/framework
  url = https://github.com/NCAR/ccpp-framework
  branch = main
[submodule "ccpp/physics"]
  path = ccpp/physics
  url = git@github.com:jianheACM/ccpp-physics.git
  branch = catchem_Apr
[submodule "upp"]
  path = upp
  url = https://github.com/zhanglikate/UPP
  branch = catchem
